@charset "UTF-8";

.inner {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.work-box {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 0.3em solid #fff;
}

/* KV */
.KV {
    height: 100vh;
    background: url(../image/img/sora.jpg)center center no-repeat;
    inset: 0;
    position: fixed;
    z-index: -1;
}


@media screen and (min-width: 900px) {
    .KV {
        padding: 0 40px;
        background-size: cover;
    }
}

/* main背景 */
main {
    padding: 100px 0;
    background: linear-gradient(to top, rgba(107, 121, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(177, 242, 255, 0.7), rgba(107, 121, 255, 0.7), rgba(0, 206, 255, 0.7));
}

/* サイト名文字 */

.title {
    color: rgba(255, 215, 84, 0.85);
    font-size: 50px;
    line-height: 70px;
    -webkit-text-stroke: 0.7px black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: none;
}

@media screen and (min-width: 900px) {
    .title {
        display: inline;
    }
}

/* 制作物写真 */

.mainimg {
    padding: 30px 0;
}

.mainimg img {
    width: 100%;
    /* border: 0.3em solid rgb(107, 121, 255); */
}

/* 概要 */
.for_more {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.work_site,
.work_git {
    display: inline-block;
    max-width: 200px;
    width: auto;
    padding: 10px 20px;
    background-color: rgba(107, 121, 255, 0.7);
    border: 2px solid rgba(107, 121, 255, 0.7);
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s;
}

.work_git {
    background-color: rgba(228, 59, 234, 0.7);
    border: 2px solid rgba(228, 59, 234, 0.7);
}

.work_site:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(107, 121, 255);
}

.work_git:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(228, 59, 234);
}

.overview .work-label {
    margin-bottom: 30px;
}

.content_title {
    color: #070092;
    font-size: 24px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    overflow-wrap: break-word;
}

.overview hr {
    margin-top: 10px;
    border: 1px solid #ffd754;
}

.overview li {
    margin-top: 30px;
}

.overview li p {
    color: #070092;
    margin-top: 10px;
    line-height: 1.8;
}

@media screen and (min-width: 900px) {
    .for_more {
        display: flex;
        flex-direction: row;
    }
}

/* 完成図 */

.completed_diagram {
    margin-top: 50px;
}

.work-img {
    width: 100%;
    text-align: center;
}

.PC {
    width: 100%;
}

.work-img img+img {
    margin-top: 30px;
}

.iPhone {
    width: 50%;
}

@media screen and (min-width: 900px) {
    .work-img {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .PC {
        width: 50%;
    }

    .iPhone {
        width: 30%;
    }

    .work-img img+img {
        margin-top: 0;
    }
}

/* 制作物一覧 */

.work {
    width: 100%;
}

.allworks {
    margin-top: 50px;
}

.work-list+.work-list {
    margin-top: 50px;
}

@media screen and (min-width: 900px) {
    .work-list+.work-list {
        margin-top: 0;
    }
}
