@charset "UTF-8";

html {
    font-size: 18px;
    font-family: serif;
}

h1 {
    font-size: clamp(1em, 6vw, 22px);
    line-height: 1.5em;
}

h1 span {
    font-size: 0.6em;
    line-height: 1em;
}

h2 {
    width: 100%;
    margin-bottom: 50px;
    font-size: clamp(1.5em, 6vw, 36px);
    text-align: center;
}

.inare {
    padding: 70px 0;
    margin: 0 auto;
    max-width: 1000px;
}

.inare-in {
    margin: 0 20px;
}

p+p {
    margin-top: 15px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: clamp(1em, 1.9vw, 22px);
    }
}

/* ヘッダー */

.title {
    width: 100%;
    padding: 20px;
    text-align: center;
}

header img {
    width: 100%;
    margin: 50px 0;
}

.toho {
    padding: 15px 0;
    background-color: #e5e5eb;
}

.KV {
    width: 100%;
    height: 300px;
    background: url(../img/mainvisual.jpg) center center no-repeat;
    background-size: 120%;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: center;
    }

    .title {
        width: 40%;
        padding: 50px;
    }

    .KV {
        width: 60%;
        height: auto;
    }
}

@media screen and (min-width: 1000px) {
    .title {
        padding: 70px;
    }
}

/* 診療時間 */

.zikan {
    background: linear-gradient(to right, rgba(245, 253, 255, 1), rgba(223, 237, 241, 1));
}

.timeline {
    width: 100%;
    border: 1px solid #e5e5eb;
    border-collapse: collapse;
    background-color: #fff;
}

.timeline tr {
    width: 100%;
}

.timeline th {
    width: clamp(60px, 20vw, 200px);
    text-align: right;
}

.timeline td {
    text-align: center;
    vertical-align: middle;
}

.timeline th,
.timeline td {
    padding: 5px;
    border: 1px solid #e5e5eb;
}

.zikan p {
    margin-top: 15px;
}

@media screen and (min-width: 768px) {

    .timeline th,
    .timeline td {
        padding: 10px;
    }
}

/* 感染防止対策について */

/* 当院の特徴 */

.tokutyou {
    background: url(../img/bg_room.jpg) calc(100% - 20%) center no-repeat;
    background-size: auto 100%;
    background-clip: content-box;
    overflow: hidden;
}

h3 {
    color: blue;
    border-bottom: 3px solid #bbcdee;
    font-size: 24px;
    display: inline-block;
}

.tokutyou section {
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #e5e5eb;
}

.tokutyou li+li {
    margin-top: 20px;
}

.tokutyou h3+p {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .tokutyou section {
        width: 700px;
    }

    .tokutyou li:nth-child(even) {
        display: flex;
        justify-content: flex-end;
    }
}

/* お問い合わせ */
.soudan {
    background: linear-gradient(to right, rgba(245, 253, 255, 1), rgba(223, 237, 241, 1));
}

.contact {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.contact a {
    padding: 10px 40px;
    border: 1px solid #2268bc;
    border-radius: 30px;
    color: blue;
    background-color: #fff;
    transition: 0.7s;
}

.contact a:hover {
    background-color: #bbcdee;
}

@media screen and (min-width: 768px) {
    .contact a {
        padding: 10px 90px;
    }
}

/* フッター */
footer .logo {
    margin: 20px 0;
    text-align: center;
}

footer .logo img {
    max-width: 300px;
    width: 100%;
}

.cpr {
    padding: 10px 0;
    text-align: center;
    background-color: #2268bc;
}

.cpr small {
    font-size: 14px;
    color: #fff;
}
